
body {
    font-family: 'Solway', serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Sahitya', serif;
    font-weight: 700;
    margin: 6px 9px 6px 9px;
}

#app {
    margin: auto;
    width: 50%;
    text-align: center;
}

.weaponBox {
    border: 3px solid black;
}

#vueButton {
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(250, 57, 57);
    padding: 3px;
    margin: 6px;
}
#vueButton:hover {
    background-color: rgb(204, 38, 38);
}
