<!DOCTYPE html>
<html>
    <head>
        <script src='../node_modules/vue/dist/vue.js'></script>
        <title>Weapon Generator</title>
    </head>
    <body>
        <div id='app'>            
            <weapon-box :title="weapon.name">
                <template v-slot:sub-title>
                    {{ weapon.rarity }}
                </template>
                <template v-slot:content>
                    {{ weapon.stats }}
                </template>
                <template v-slot:side-bar>
                    {{ weapon.lore }}
                </template>
            </weapon-box>
        </div>
        <script type="module" src='../public/js/WeaponGenerator/WeaponGenerator.js'></script>
    </body>
</html>
