<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Sahitya:700|Solway&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../public/css/default.css" />
        <script src='../node_modules/vue/dist/vue.js'></script>
        <title>Weapon Generator</title>
    </head>
    <body>
        <div id='app'>
            <vue-button :listener="generateWeapon" ></vue-button>
            <weapon-box :title="weapon.name">
                <template v-slot:sub-title>{{ weapon.rarity }}</template>
                <template v-slot:content>
                    {{ weapon.damageDieAmount + 'd' + weapon.damageDie + ' ' + weapon.damageType }}
                </template>
                <template v-slot:sub-content>{{ weapon.effect }}</template>
            </weapon-box>
        </div>
        <script type="module" src='../public/js/WeaponGenerator/WeaponGenerator.js'></script>
    </body>
</html>
